lft.aux
lft.fdb_latexmk
lft.fls
lft.log
lft.synctex.gz
Automi_Linguaggi_e_Calcolabilita'.pdf
libro/Compilers, Principles, Techniques and Tools.pdf
appunti.synctex.gz
Slide Teoria/Utility/Appunti/Ripasso - LATEX/Definizioni LFT.tex
Slide Teoria/AppuntiBASI(05-06).pdf
Slide Teoria/Utility/JFLAP.jar
Slide Teoria/Utility/Orale con Jeremy Sproston.png
Slide Teoria/Utility/prova.jff
Slide Teoria/Utility/Appunti/Altri/APPUNTI_LFT.pdf
Slide Teoria/Utility/Appunti/Altri/Pumping Lemma e Chiusura.pdf
Slide Teoria/Utility/Appunti/Appunti completi/Appunti LFT.aux
Slide Teoria/Utility/Appunti/Appunti completi/Appunti LFT.log
Slide Teoria/Utility/Appunti/Appunti completi/Appunti LFT.out
Slide Teoria/Utility/Appunti/Appunti completi/Appunti LFT.synctex.gz
Slide Teoria/Utility/Appunti/Appunti completi/Appunti LFT.tex
Slide Teoria/Utility/Appunti/Appunti completi/Appunti LFT.toc
Slide Teoria/Utility/Appunti/Appunti completi/Capitoli/capitolo1.tex
Slide Teoria/Utility/Appunti/Appunti completi/Capitoli/capitolo2.tex
Slide Teoria/Utility/Appunti/Appunti completi/Capitoli/capitolo3.tex
Slide Teoria/Utility/Appunti/Appunti completi/Immagini/Capitolo 2 - Mindmap.png
Slide Teoria/Utility/Appunti/Ripasso - LATEX/Definizioni LFT.aux
Slide Teoria/Utility/Appunti/Ripasso - LATEX/Definizioni LFT.log
Slide Teoria/Utility/Appunti/Ripasso - LATEX/Definizioni LFT.out
Slide Teoria/Utility/Appunti/Ripasso - LATEX/Definizioni LFT.synctex.gz
Slide Teoria/Utility/Appunti/Ripasso - LATEX/Definizioni LFT.toc
Slide Teoria/Utility/Appunti/Ripasso - LATEX/Immagini/Grammar_onthefly.png
Slide Teoria/Utility/Appunti/Ripasso - LATEX/Immagini/L_Attribuita_Code.png
Slide Teoria/Utility/Appunti/Ripasso - LATEX/Immagini/ontheflyFinal.jpg
Slide Teoria/Utility/Appunti/Ripasso - LATEX/Immagini/Pseudocode_onthefly.png
Slide Teoria/Utility/Appunti/Ripasso - LATEX/Immagini/SDD.png
Slide Teoria/Utility/Appunti/Ripasso - LATEX/Immagini/Traduzioni Booleane.png
Slide Teoria/Utility/Giude per Esercizi/1-espressioni regolari.jpg
Slide Teoria/Utility/Giude per Esercizi/2-espressioni regolari.jpg
Slide Teoria/Utility/Giude per Esercizi/3 -- Domande LFT [+RISPOSTE] (da completare).odt
Slide Teoria/Utility/Giude per Esercizi/automa a pila def.jpg
Slide Teoria/Utility/Giude per Esercizi/automa minimo.jpg
Slide Teoria/Utility/Giude per Esercizi/automi a pila.jpg
Slide Teoria/Utility/Giude per Esercizi/Calcolo Follow.png
Slide Teoria/Utility/Giude per Esercizi/DEFINIZIONI E SVOLGIMENTO ESERCIZI.pdf
Slide Teoria/Utility/Giude per Esercizi/Definizioni Lorenzo Tassone.docx
Slide Teoria/Utility/Giude per Esercizi/eNFA - DFA.jpg
Slide Teoria/Utility/Giude per Esercizi/eNFA - NFA.jpg
Slide Teoria/Utility/Giude per Esercizi/esempi domande teoria.odt
Slide Teoria/Utility/Giude per Esercizi/J-Closure e Parsing SLR(1).txt
Slide Teoria/Utility/Giude per Esercizi/LL1 first-follow.jpg
Slide Teoria/Utility/Giude per Esercizi/LL1 guida.jpg
Slide Teoria/Utility/Giude per Esercizi/Minimizzazione Automa.txt
Slide Teoria/Utility/Giude per Esercizi/pumping lemma e altro.jpg
Slide Teoria/Utility/Giude per Esercizi/random.jpg
Slide Teoria/Utility/Giude per Esercizi/random2.jpg
Slide Teoria/Utility/Giude per Esercizi/SDT.jpg
Slide Teoria/Utility/Giude per Esercizi/SLR tabella parsing.jpg
Slide Teoria/altri compiti/E2 - Esercizi Linguaggi-liberi.pdf
Slide Teoria/altri compiti/E5 - Esempio di scritto.pdf
Slide Teoria/altri compiti/E6 - Esercizisvolti.pdf
Slide Teoria/altri compiti/Esempio di compito.pdf
Slide Teoria/altri compiti/esercizi riassuntivi.pdf
Slide Teoria/altri compiti/Esercizi_svolti_LL(1).pdf
Slide Teoria/altri compiti/Soluzioni.pdf
Slide Teoria/altri compiti/E2 - Soluzioni/1a.jff
Slide Teoria/altri compiti/E2 - Soluzioni/1b.jff
Slide Teoria/altri compiti/E2 - Soluzioni/1c.jff
Slide Teoria/altri compiti/E2 - Soluzioni/1d.jff
Slide Teoria/altri compiti/E2 - Soluzioni/1e.jff
Slide Teoria/altri compiti/E2 - Soluzioni/5a.jff
Slide Teoria/altri compiti/E2 - Soluzioni/5b.jff
Slide Teoria/altri compiti/E2 - Soluzioni/5c.jff
Slide Teoria/altri compiti/E2 - Soluzioni/7a.jff
Slide Teoria/altri compiti/E2 - Soluzioni/50.jff
Slide Teoria/altri compiti/E5 - Soluzioni/12.jff
Slide Teoria/altri compiti/E5 - Soluzioni/E5 - Soluzioni.pdf
Slide Teoria/altri compiti/E5 - Soluzioni/NOTE - LEGGIMI.txt
Slide Teoria/altri compiti/E5 - Soluzioni/Soluzioni.txt
Slide Teoria/Utility/Giude per Esercizi/3 -- Domande LFT [+RISPOSTE] (da completare).odt
